.wrapper{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    background: url('img/head.jpg') bottom center no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
}
.main{
    max-width: 1400px;
    margin: 0 auto;
}
.footer{
    background-color: rgb(8, 8, 17);
    padding-bottom: 20px;
    margin-top: auto;
}

.adress-contacts {
    text-align: center;
}
.a-footer-contacts {
    display: block;
    color: rgb(150, 150, 150);
}


.header-Topic {
    font-family:'Franklin Gothic Medium';
    padding: 30px 20px 0px 20px;
    text-align: center;
}
.header-subTopic {
    font-family: 'Noto Sans';
    font-size: medium;
    color: rgb(225, 225, 255);
    padding: 0px 20px 30px 20px;
}
.h2-paragraph {
    font-family:'Franklin Gothic Medium';
    padding: 20px 20px 10px 20px;
    text-align: center;
}
.h3-contacts {
    font-family: 'Noto Sans';
    font-size: large;
    color: white;
    padding: 0% 5% 0% 5%;
    text-align: center;
}

.p-paragraph{
    font-family: 'Noto Sans';
    padding: 0% 5% 0% 5%;
    text-align: justify;
    color: rgb(70, 70, 70);
}

.ul-places-of-practice{
    font-family:'Noto Sans';
    color: rgb(70, 70, 70);
    display: table;   
    margin: 0 auto 0 auto;
    text-align: left;
    list-style-position: outside;
}

.ul-vars-of-professions{
    padding-left: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}   
.ul-vars-of-professions-item{
    flex-basis: 300px;
    margin: 0px auto 20px auto;
    font-family: 'Noto Sans';
    text-align: left;
    list-style-position:outside;
}

.ul-reviews{
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}   
.ul-reviews-item{
    flex-basis: 300px;
    margin: 0px auto 20px auto;
    font-family: 'Noto Sans';
    text-align: left;
    list-style-position:outside;
    padding: 20px;
    border: 1px solid gray;
    text-shadow: 1px 1px 2px rgb(200, 200, 200);
    font-style: italic;
}

.ul-licenses{
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.img-license{
    flex-basis: 300px;
    margin: 0px auto 20px auto;
    list-style-position:outside;
    width: 100%;
    border: 1px solid black;
}

.asside-download-09-03-01{
    display: flex;  
    justify-content: center;  
    align-items: center;
    padding-bottom: 15px;
}

.ul-navbar{
    padding-right: 30px;
    margin: auto;
}

.navbar-item{
    display: inline-block;
    padding: 10px 20px;

}
.nav-link-idle{
    font-family: 'Noto Sans';
    text-align: center;
    color:gray;
    text-decoration: none;
    
}
.nav-link-active{
    font-family: 'Noto Sans';
    text-align: center;
    color:black;
    text-decoration: none;
    
}
.nav-link-idle:hover{
    transition: 0,5s;
}
.nav-link-active{
    transition: 0,5s;
}

